﻿<div class="page">
    <div class="row expanded">
        <div class="small-12 small-centered large-10 large-centered columns">
            <div ng-controller="customersCtrl">
                <div class="bgc-white shadow p+">
                    <lx-dialog class="shadow++" id="{{dialogId}}" lx-auto-close="false">
                        <form name="modelForm" novalidate>
                            <lx-dialog-header>
                                <div class="toolbar bgc-primary pl++">
                                    <span class="toolbar__label tc-white fs-title">
                                        {{viewMode? 'View Customer' : (model.id? 'Edit Customer': 'New Customer')}}
                                    </span>
                                    <div class="toolbar__right">
                                    </div>
                                </div>
                            </lx-dialog-header>
                            <lx-dialog-content>
                                <div class="p+">
                                    <div class="paragraph fs-body-1 mt+">
                                        <lx-text-field class="mt+" lx-label="Name" lx-icon="account" lx-error="modelForm.name.$touched && modelForm.name.$invalid" lx-valid="modelForm.name.$valid">
                                            <input name="name" type="text" ng-model="model.name" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="Email" lx-icon="email" lx-error="modelForm.email.$touched && modelForm.email.$invalid" lx-valid="modelForm.email.$valid">
                                            <input name="email" type="email" ng-model="model.email" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="Phone" lx-icon="phone" lx-error="modelForm.phone.$touched && modelForm.phone.$invalid" lx-valid="modelForm.phone.$valid">
                                            <input name="phone" type="tel" ng-model="model.phone" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="Contact Person" lx-icon="account-card-details">
                                            <input name="contactPerson" type="tel" ng-model="model.contactPerson">
                                        </lx-text-field>
                                        <lx-text-field class="m+" lx-label="Address" lx-icon="map-marker">
                                            <textarea name="address" ng-model="model.address"></textarea>
                                        </lx-text-field>
                                        <lx-checkbox ng-model="model.updatePassword" ng-if="model.id">UpdatePassword</lx-checkbox>
                                        <lx-text-field class="mt+" lx-label="Password" lx-icon="key" lx-error="modelForm.password.$touched && modelForm.password.$invalid" lx-valid="modelForm.password.$valid"
                                                       ng-disabled="model.id && !model.updatePassword">
                                            <input name="password" type="password" ng-model="model.password" ng-required="!model.id">
                                        </lx-text-field>
                                    </div>
                                </div>
                                <div class="column small-12">
                                    <lx-select ng-model="model.typeRoleId"
                                               selection-to-model="roleObjectToModel(data, callback)"
                                               model-to-selection="roleModelToObject(data, callback)"
                                               lx-label="Roles" lx-choices="roles">
                                        <lx-select-selected>
                                            {{ $selected.text }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.text }}
                                        </lx-select-choices>
                                    </lx-select>
                                </div>
                                <div class="column small-12">
                                    <lx-select ng-model="model.typeSupervisorUserId"
                                               selection-to-model="supervisorUserObjectToModel(data, callback)"
                                               model-to-selection="supervisorUserModelToObject(data, callback)"
                                               lx-label="Supervisor Manager" lx-choices="supervisorUsers"
                                               ng-disabled="model.typeRoleId !== 3">
                                        <lx-select-selected>
                                            {{ $selected.text }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.text }}
                                        </lx-select-choices>
                                    </lx-select>
                                </div>
                            </lx-dialog-content>
                            <lx-dialog-footer>
                                <lx-button lx-color="black" lx-type="flat" lx-dialog-close>{{viewMode?'Close':'Cancel'}}</lx-button>
                                <lx-button ng-if="!viewMode" lx-type="flat" ng-click="save()" ng-disabled="modelForm.$invalid">Save</lx-button>
                            </lx-dialog-footer>
                        </form>
                    </lx-dialog>
                    <div class="data-table-container">
                        <div class="row expanded p+">
                            <div class="column small-12 large-3">
                                <span class="fs-title">Customers</span>
                            </div>
                            <div class="column small-12 large-9">
                                <lx-dropdown class="float-right" lx-position="right" lx-over-toggle="true">
                                    <lx-dropdown-toggle>
                                        <lx-button class="ml mr" lx-size="l" lx-type="icon">
                                            <lx-icon lx-id="sort" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                        </lx-button>
                                    </lx-dropdown-toggle>
                                    <lx-dropdown-menu>
                                        <ul>
                                            <li><div class="dropdown-link dropdown-link--is-header">Sort By</div></li>
                                            <li><div class="dropdown-link" ng-click="orderBy('name')">Name</div></li>
                                        </ul>
                                    </lx-dropdown-menu>
                                </lx-dropdown>
                                <lx-button class="float-right ml mr" lx-type="icon" ng-click="delete()">
                                    <lx-icon lx-id="delete" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                </lx-button>
                                <lx-button class="float-right ml mr" lx-type="icon" ng-click="edit()">
                                    <lx-icon lx-id="lead-pencil" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                </lx-button>
                                <lx-button class="float-right ml mr" lx-type="icon" ng-click="add()">
                                    <lx-icon lx-id="plus" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                </lx-button>
                            </div>
                            
                        </div>
                        <div class="row expanded" ng-if="false">
                            <div class="column small-12">
                                <lx-search-filter lx-color="accent" lx-closed="false" lx-width="120%">
                                    <input type="text" placeholder="Search" ng-model="filter">
                                </lx-search-filter>
                            </div>
                        </div>
                        <div class="separator bgc-accent mt+"></div>
                        <table class="data-table rtable">
                            <thead>
                                <tr>
                                    <th width="50px">Select</th>
                                    <th width="50px">View</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Contact Person</th>
                                    <th>Address</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in customers | orderBy : orderby track by customer.id" ng-click="toggleSelection(customer,$event)">
                                    <td><lx-checkbox ng-model="customer.checked" lx-color="indigo"></lx-checkbox></td>
                                    <td ng-click="view(order,$event)">
                                        <lx-button class="float-right ml mr" lx-type="icon">
                                            <lx-icon lx-id="eye" lx-size="m" lx-color="indigo" lx-type="flat"></lx-icon>
                                        </lx-button>
                                    </td>
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.email}}</td>
                                    <td>{{customer.phone}}</td>
                                    <td>{{customer.contactPerson}}</td>
                                    <td>{{customer.address}}</td>
                                    <td>{{customer.roleName}}</td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>