﻿<div class="page">
    <div class="row expanded">
        <div class="small-12 small-centered large-10 large-centered columns">
            <div ng-controller="itemsCtrl">
                <div class="bgc-white shadow p+">
                    <lx-dialog class="shadow++" id="{{dialogId}}" lx-auto-close="false" ng-if="!isUndefined(order.id) || !isUndefined(model.order.id)">
                        <form name="modelForm" novalidate>
                            <lx-dialog-header>
                                <div class="toolbar bgc-primary pl++">
                                    <span class="toolbar__label tc-white fs-title">
                                        {{viewMode? 'View Item' : (model.id? 'Edit Item': 'New Item')}}
                                    </span>
                                    <div class="toolbar__right tc-white fs-title">
                                        Order# {{  order.id? order.serialNumber: model.order.serialNumber}}
                                    </div>
                                </div>
                            </lx-dialog-header>
                            <lx-dialog-content>
                                <div class="p+">
                                    <div class="paragraph fs-body-1 mt+">
                                        <div class="row expanded">
                                            <div class="column small-12">
                                                <lx-select ng-model="model.typeId" ng-change="typeChange(model.typeId)"
                                                           selection-to-model="typeObjectToModel(data, callback)"
                                                           model-to-selection="typeModelToObject(data, callback)"
                                                           lx-label="Item Type" lx-choices="modelTypes"
                                                           lx-allow-clear="false" lx-display-filter="true"
                                                           lx-filter="selectFilter(newValue)" lx-loading="selectLoading">
                                                    <lx-select-selected>
                                                        {{ $selected.name }}
                                                    </lx-select-selected>
                                                    <lx-select-choices>
                                                        {{ $choice.name }}
                                                    </lx-select-choices>
                                                </lx-select>
                                                <lx-text-field class="mt+" lx-label="Please Specify Type" ng-show="model.typeId == null">
                                                    <input name="typeText" type="text" ng-model="model.typeText">
                                                </lx-text-field>
                                            </div>
                                            <div class="column small-12">
                                                <lx-select ng-model="model.unitId"
                                                           selection-to-model="unitObjectToModel(data, callback)"
                                                           model-to-selection="unitModelToObject(data, callback)"
                                                           lx-label="Item Unit" lx-choices="typeUnits">
                                                    <lx-select-selected>
                                                        {{ $selected.name }}
                                                    </lx-select-selected>
                                                    <lx-select-choices>
                                                        {{ $choice.name }}
                                                    </lx-select-choices>
                                                </lx-select>
                                                <lx-text-field class="mt+" lx-label="Please Specify Unit" ng-show="model.unitId == null">
                                                    <input name="unitText" type="text" ng-model="model.unitText">
                                                </lx-text-field>
                                            </div>
                                            <div class="column small-12 large-2">
                                                <lx-text-field class="mt+" lx-label="Quantity" lx-error="modelForm.quantity.$touched && modelForm.quantity.$invalid" lx-valid="modelForm.quantity.$dirty && modelForm.quantity.$touched && modelForm.quantity.$valid">
                                                    <input name="quantity" type="number" ng-model="model.quantity">
                                                </lx-text-field>
                                            </div>
                                            <div class="column small-12 large-3" ng-if="user.roles.isAdmin || user.roles.isSuper">
                                                <lx-text-field class="mt+" lx-label="Delivered Quantity" lx-error="modelForm.deliveredQuantity.$touched && modelForm.deliveredQuantity.$invalid" lx-valid="modelForm.deliveredQuantity.$dirty && modelForm.deliveredQuantity.$touched && modelForm.deliveredQuantity.$valid">
                                                    <input name="deliveredQuantity" type="number" ng-model="model.deliveredQuantity">
                                                </lx-text-field>
                                            </div>
                                            <div class="column small-12 large-2" ng-if="user.roles.isAdmin || user.roles.isSuper">
                                                <lx-text-field class="mt+" lx-label="Buying Price" lx-error="modelForm.buyingPrice.$touched && modelForm.buyingPrice.$invalid" lx-valid="modelForm.buyingPrice.$dirty && modelForm.buyingPrice.$touched && modelForm.buyingPrice.$valid">
                                                    <input name="buyingPrice" type="number" ng-model="model.buyingPrice">
                                                </lx-text-field>
                                            </div>
                                            <div class="column small-6 large-2" ng-if="user.roles.isAdmin || user.roles.isSuper">
                                                <lx-text-field class="mt+" lx-label="Selling Price" lx-error="modelForm.sellingPrice.$touched && modelForm.sellingPrice.$invalid" lx-valid="modelForm.sellingPrice.$dirty && modelForm.sellingPrice.$touched && modelForm.sellingPrice.$valid">
                                                    <input name="sellingPrice" type="number" ng-model="model.sellingPrice">
                                                </lx-text-field>
                                            </div>
                                            <div class="column small-6 large-2">
                                                <lx-select class="mt+" ng-model="model.currencyId"
                                                           selection-to-model="currencyObjectToModel(data, callback)"
                                                           model-to-selection="currencyModelToObject(data, callback)"
                                                           lx-label="Cur." lx-choices="currencies" required>
                                                    <lx-select-selected>
                                                        {{ $selected.text }}
                                                    </lx-select-selected>
                                                    <lx-select-choices>
                                                        {{ $choice.text }}
                                                    </lx-select-choices>
                                                </lx-select>
                                            </div>
                                            <div class="column small-6" ng-if="user.roles.isAdmin || user.roles.isSuper">
                                                <lx-select ng-model="model.supplierId"
                                                           selection-to-model="supplierObjectToModel(data, callback)"
                                                           model-to-selection="supplierModelToObject(data, callback)"
                                                           lx-label="Supplier" lx-choices="suppliers">
                                                    <lx-select-selected>
                                                        {{ $selected.name }}
                                                    </lx-select-selected>
                                                    <lx-select-choices>
                                                        {{ $choice.name }}
                                                    </lx-select-choices>
                                                </lx-select>
                                            </div>
                                            <div class="column small-6" ng-if="user.roles.isAdmin || user.roles.isSuper">
                                                <lx-select ng-model="model.state"
                                                           selection-to-model="stateObjectToModel(data, callback)"
                                                           model-to-selection="stateModelToObject(data, callback)"
                                                           lx-label="Item State" lx-choices="states">
                                                    <lx-select-selected>
                                                        {{ $selected.name }}
                                                    </lx-select-selected>
                                                    <lx-select-choices>
                                                        {{ $choice.name }}
                                                    </lx-select-choices>
                                                </lx-select>
                                            </div>
                                            <div class="column small-12 large-4">
                                                <lx-text-field class="mt+" lx-label="Description">
                                                    <input name="description" type="text" ng-model="model.description">
                                                </lx-text-field>
                                            </div>
                                            <div class="column small-12">
                                                <lx-text-field class="mt+" lx-label="Remarks">
                                                    <textarea name="remarks" ng-model="model.remarks"></textarea>
                                                </lx-text-field>
                                            </div>
                                            <div class="column small-12" ng-if="model.attachment">
                                                <a class="button" href="{{model.attachment}}" target="_blank">Download Attachment</a>
                                                <lx-button lx-color="red" ng-click="deleteAttachment(model)">Delete Attachment</lx-button>
                                            </div>
                                            <div class="column small-12">
                                                <input id="file" type="file" name="file" file-bind="model.file" /><br />
                                                <lx-button lx-color="grey" ng-click="resetFile('file')">Reset Attachment</lx-button>
                                                <lx-file-input lx-label="Attachment..." lx-callback="attachFile(newFile)" ng-if="false"></lx-file-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </lx-dialog-content>
                            <lx-dialog-footer>
                                <lx-button lx-color="black" lx-type="flat" ng-click="closeDialog()">{{viewMode?'Close':'Cancel'}}</lx-button>
                                <lx-button ng-if="!viewMode  && ((!user.roles.isCustomer && !user.roles.isSupervisor) || order.state.finalStatus == 'waiting' || order.state.finalStatus == 'pending')" lx-type="flat" ng-click="save()" ng-disabled="modelForm.$invalid">Save</lx-button>
                            </lx-dialog-footer>
                        </form>
                    </lx-dialog>

                    <div class="data-table-container">
                        <div class="row expanded p+">
                            <div class="column small-12 large-5">
                                <span class="fs-title">Items{{order.id? ', Order# '+order.serialNumber:''}}</span>
                            </div>
                            <div class="column small-12 large-7">

                                <lx-dropdown class="float-right" lx-position="right" lx-over-toggle="true">
                                    <lx-dropdown-toggle>
                                        <lx-button class="ml mr" lx-size="l" lx-type="icon">
                                            <lx-icon lx-id="sort" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                        </lx-button>
                                    </lx-dropdown-toggle>
                                    <lx-dropdown-menu>
                                        <ul>
                                            <li><div class="dropdown-link dropdown-link--is-header">Sort By</div></li>
                                            <li><div class="dropdown-link" ng-click="orderBy('stateRank')">Status</div></li>
                                            <li><div class="dropdown-link" ng-click="orderBy('createDate')">Date</div></li>
                                        </ul>
                                    </lx-dropdown-menu>
                                    
                                </lx-dropdown>
                                <lx-button class="float-right ml mr" lx-type="icon" ng-click="exportReceipt()">
                                    <lx-icon lx-id="file-excel" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                </lx-button>
                                <div ng-if="order.id">
                                    <lx-button class="float-right ml mr" lx-type="icon" ng-click="delete()">
                                        <lx-icon lx-id="delete" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                    </lx-button>
                                    <lx-button class="float-right ml mr" lx-type="icon" ng-click="edit()">
                                        <lx-icon lx-id="lead-pencil" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                    </lx-button>
                                    <lx-button class="float-right ml mr" lx-type="icon" ng-click="add()">
                                        <lx-icon lx-id="plus" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                    </lx-button>
                                    <!--<lx-button class="float-right ml mr" lx-type="icon" ng-click="exportReceipt()">-->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row expanded" ng-if="false">
                            <div class="column small-12">
                                <lx-search-filter lx-color="accent" lx-closed="false" lx-width="100%">
                                    <input type="text" placeholder="Search" ng-model="filter">
                                </lx-search-filter>
                            </div>
                        </div>
                        <div class="separator bgc-accent mt+"></div>

                        <table class="data-table rtable">
                            <thead>
                                <tr>
                                    <th width="75px">#</th>
                                    <th width="50px">Select</th>
                                    <th width="50px">View</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Item Type</th>
                                    <th>Date</th>
                                    <th>Attachment</th>
                                    <th ng-if="user.roles.isAdmin || user.roles.isSuper">Buy Price</th>
                                    <th ng-if="user.roles.isAdmin || user.roles.isSuper">Sell Price</th>
                                    <th ng-if="user.roles.isAdmin || user.roles.isSuper">Cur.</th>
                                    <th ng-if="user.roles.isAdmin || user.roles.isSuper">Supplier</th>
                                </tr>
                            </thead>
                            <tbody class="">

                                <tr ng-repeat="item in items | orderBy : orderby track by item.id" ng-class="item.state=='waiting'?'bgc-red-A100 tc-white':(item.state == 'processing'?'bgc-amber-A100':(item.state == 'canceled'?'bgc-teal-100 strike-through':(item.state == 'complete'?'bgc-green-A100':'bgc-purple-A100')))"
                                    ng-click="toggleSelection(item,$event)">
                                    <td>{{$index+1}}</td>
                                    <td><lx-checkbox ng-model="item.checked" lx-color="indigo   "></lx-checkbox></td>
                                    <td ng-click="view(item,$event)">
                                        <lx-button class="float-right ml mr" lx-type="icon">
                                            <lx-icon lx-id="eye" lx-size="m" lx-color="indigo" lx-type="flat"></lx-icon>
                                        </lx-button>
                                    </td>
                                    <td>{{item.description}}</td>
                                    <td>{{ item.unitId == 0 ? item.unitText : searchArray('id',item.unitId,units).name }}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{ item.typeName}}</td>
                                    <td>{{item.createDate | date:"dd-MM-yyyy hh:mm"}}</td>
                                    <td>
                                        <lx-button lx-type="icon" ng-click="viewAttachment(item)" ng-if="item.attachment">
                                            <lx-icon lx-id="attachment" lx-size="m" lx-color="indigo" lx-type="flat"></lx-icon>
                                        </lx-button>
                                    </td>
                                    <td ng-if="user.roles.isAdmin || user.roles.isSuper">{{item.buyingPrice}}</td>
                                    <td ng-if="user.roles.isAdmin || user.roles.isSuper">{{item.sellingPrice}}</td>
                                    <td ng-if="user.roles.isAdmin || user.roles.isSuper">{{item.currencyName}}</td>
                                    <td ng-if="user.roles.isAdmin || user.roles.isSuper">{{item.supplierName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>