﻿<div class="page">
    <div class="row expanded">
        <div class="small-12 small-centered large-8 large-centered columns">
            <div ng-controller="itemUnitsCtrl">
                <div class="bgc-white shadow p+">
                    <lx-dialog class="shadow++" id="{{dialogId}}" lx-auto-close="false">
                        <form name="modelForm" novalidate>
                            <lx-dialog-header>
                                <div class="toolbar bgc-primary pl++">
                                    <span class="toolbar__label tc-white fs-title">
                                        {{viewMode? 'View Unit' : (model.id? 'Edit Unit': 'New Unit')}}
                                    </span>
                                    <div class="toolbar__right">
                                    </div>
                                </div>
                            </lx-dialog-header>
                            <lx-dialog-content>
                                <div class="p+">
                                    <div class="paragraph fs-body-1 mt+">
                                        <lx-checkbox ng-model="model.isActive">Active</lx-checkbox>
                                        <lx-text-field class="mt+" lx-label="Name" lx-error="modelForm.name.$touched && modelForm.name.$invalid" lx-valid="modelForm.name.$valid">
                                            <input name="name" type="text" ng-model="model.name" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="Code" lx-error="modelForm.code.$touched && modelForm.code.$invalid" lx-valid="modelForm.code.$valid">
                                            <input name="code" type="text" ng-model="model.code" required>
                                        </lx-text-field>
                                    </div>
                                </div>
                            </lx-dialog-content>
                            <lx-dialog-footer>
                                <lx-button lx-color="black" lx-type="flat" lx-dialog-close>{{viewMode?'Close':'Cancel'}}</lx-button>
                                <lx-button ng-if="!viewMode" lx-type="flat" ng-click="save()" ng-disabled="modelForm.$invalid">Save</lx-button>
                            </lx-dialog-footer>
                        </form>
                    </lx-dialog>
                    <div class="data-table-container">
                        <div class="row expanded p+">
                            <div class="column small-12 large-3">
                                <span class="fs-title">Units</span>
                            </div>
                            <div class="column small-12 large-9">
                                <lx-dropdown class="float-right" lx-position="right" lx-over-toggle="true">
                                    <lx-dropdown-toggle>
                                        <lx-button class="ml mr" lx-size="l" lx-type="icon">
                                            <lx-icon lx-id="sort" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                        </lx-button>
                                    </lx-dropdown-toggle>
                                    <lx-dropdown-menu>
                                        <ul>
                                            <li><div class="dropdown-link dropdown-link--is-header">Sort By</div></li>
                                            <li><div class="dropdown-link" ng-click="orderBy('code')">Code</div></li>
                                            <li><div class="dropdown-link" ng-click="orderBy('name')">Name</div></li>
                                        </ul>
                                    </lx-dropdown-menu>
                                </lx-dropdown>
                                <lx-button class="float-right ml mr" lx-type="icon" ng-click="delete()">
                                    <lx-icon lx-id="delete" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                </lx-button>
                                <lx-button class="float-right ml mr" lx-type="icon" ng-click="edit()">
                                    <lx-icon lx-id="lead-pencil" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                </lx-button>
                                <lx-button class="float-right ml mr" lx-type="icon" ng-click="add()">
                                    <lx-icon lx-id="plus" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                </lx-button>
                            </div>
                            
                        </div>
                        <div class="row expanded" ng-if="false">
                            <div class="column small-12">
                                <lx-search-filter lx-color="accent" lx-closed="false" lx-width="100%">
                                    <input type="text" placeholder="Search" ng-model="filter">
                                </lx-search-filter>
                            </div>
                        </div>
                        <div class="separator bgc-accent mt+"></div>
                        <table class="data-table rtable">
                            <thead>
                                <tr>
                                    <th width="50px">Select</th>
                                    <th width="50px">View</th>
                                    <th width="75px"> #</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="unit in units | orderBy : orderby track by unit.id" ng-click="toggleSelection(unit,$event)">
                                    <td><lx-checkbox ng-model="unit.checked" lx-color="indigo"></lx-checkbox></td>
                                    <td ng-click="view(order,$event)">
                                        <lx-button class="float-right ml mr" lx-type="icon">
                                            <lx-icon lx-id="eye" lx-size="m" lx-color="indigo" lx-type="flat"></lx-icon>
                                        </lx-button>
                                    </td>
                                    <td>{{unit.id}}</td>
                                    <td>{{unit.name}}</td>
                                    <td>{{unit.code}}</td>
                                    <td>
                                        <lx-icon lx-id="check-circle" lx-size="m" lx-color="green" lx-type="circled" ng-if="unit.isActive"></lx-icon>
                                        <lx-icon lx-id="close-circle" lx-size="m" lx-color="red" lx-type="circled" ng-if="unit.isActive == false"></lx-icon>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>