﻿<div class="page">
    <div class="row expanded">
        <div class="small-12 small-centered large-4 large-centered columns">
            <div ng-controller="loginCtrl">
                <div class="shadow+ bgc-white p+">
                    <lx-tabs lx-theme="light" lx-color="primary">
                        <lx-tab lx-label="Login">
                            <div class="card bgc-red-100" ng-show="loginFailure">
                                <div class="p+">
                                    <strong class="fs-headline display-block">Login Failed</strong>
                                    <div class="paragraph fs-body-1">
                                        <p>
                                            Please check your internet connectivity and that your username & password are correct.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <form name="loginForm" novalidate>
                                <lx-text-field class="mt++" lx-label="Email" lx-icon="email"  lx-error="loginForm.username.$touched && loginForm.username.$invalid" lx-valid="loginForm.username.$valid">
                                    <input name="username" type="email" ng-model="loginModel.username" required>
                                </lx-text-field>
                                <lx-text-field class="mt+" lx-label="Password" lx-icon="key"  lx-error="loginForm.password.$touched && loginForm.password.$invalid" lx-valid="loginForm.password.$valid">
                                    <input name="password" type="password" ng-model="loginModel.password" required>
                                </lx-text-field>

                                <div class="row expanded mt++">
                                    <div class="columns small-6 small-centered text-center">
                                        <lx-button lx-type="raised" ng-disabled="loginForm.$invalid" ng-click="login()">Login</lx-button>
                                    </div>
                                </div>
                            </form>
                        </lx-tab>
                        <!--
                        <lx-tab lx-label="Sign Up">
                            <lx-text-field class="mt++" lx-label="email" lx-icon="email" lx-fixed-label="true">
                                <input type="text" ng-model="register.email">
                            </lx-text-field>
                            <lx-text-field class="mt+" lx-label="confirm email" lx-icon="check" lx-fixed-label="true">
                                <input type="text" ng-model="register.reemail">
                            </lx-text-field>
                            <lx-text-field class="mt+" lx-label="password" lx-icon="key" lx-fixed-label="true">
                                <input type="password" ng-model="register.password">
                            </lx-text-field>
                            <lx-text-field class="mt+" lx-label="confirm password" lx-icon="check" lx-fixed-label="true">
                                <input type="password" ng-model="register.repassword">
                            </lx-text-field>

                            <div class="row expanded mt++">
                                <div class="columns small-6 small-centered text-center">
                                    <lx-button lx-type="raised">Submit</lx-button>
                                </div>
                            </div>
                        </lx-tab>
                            -->
                    </lx-tabs>


                </div>
            </div>
        </div>

    </div>
</div>