﻿
<!--test change-->
<div class="page">
    <div class="row expanded">
        <div class="small-12 small-centered large-10 large-centered columns">
            <div ng-controller="ordersCtrl">
                <div class="bgc-white shadow p+">
                    <div class="bgc-white shadow p+">
                        <lx-dialog class="shadow++" id="{{dialogId}}" lx-auto-close="false">
                            <form name="modelForm" novalidate>
                                <lx-dialog-header>
                                    <div class="toolbar bgc-primary pl++">
                                        <span class="toolbar__label tc-white fs-title">
                                            {{viewMode? 'View Item' : (model.id? 'Edit Order': 'New Order')}}
                                        </span>
                                        <div class="toolbar__right">
                                        </div>
                                    </div>
                                </lx-dialog-header>
                                <lx-dialog-content>
                                    <div class="p+">
                                        <div class="paragraph fs-body-1 mt+">
                                            <lx-text-field class="m+" lx-label="Serial Number" lx-error="modelForm.serialNumber.$touched && modelForm.serialNumber.$invalid" lx-valid="modelForm.serialNumber.$valid">
                                                <input name="serialNumber" type="text" ng-model="model.serialNumber" required>
                                            </lx-text-field>
                                            
                                            <lx-text-field class="m+" lx-label="Description" ng-if="false">
                                                <textarea name="description" ng-model="model.description"></textarea>
                                            </lx-text-field>
                                            <div ng-if="!user.roles.isCustomer && !user.roles.isSupervisor">
                                                <lx-text-field class="m+" lx-label="Creation Date" lx-error="modelForm.createDate.$touched && modelForm.createDate.$invalid" lx-valid="modelForm.createDate.$valid">
                                                    <input name="createDate" type="text" ng-model="model.createDate" jqdatepicker>
                                                </lx-text-field>
                                                <lx-select ng-model="model.customerId"
                                                           selection-to-model="objectToModel(data, callback)"
                                                           model-to-selection="modelToObject(data, callback)"
                                                           lx-label="Customer" lx-choices="modelCustomers"
                                                           lx-allow-clear="false" lx-display-filter="true"
                                                           lx-filter="selectFilter(newValue)" lx-loading="selectLoading">
                                                    <lx-select-selected>
                                                        {{ $selected.name }}
                                                    </lx-select-selected>
                                                    <lx-select-choices>
                                                        {{ $choice.name }}
                                                    </lx-select-choices>
                                                </lx-select>
                                            </div>
                                            <div class="column small-12" ng-if="user.roles.isAdmin || user.roles.isSuper || user.roles.isSupervisor">
                                                <lx-select ng-model="model.state"
                                                           selection-to-model="stateObjectToModel(data, callback)"
                                                           model-to-selection="stateModelToObject(data, callback)"
                                                           lx-label="Order State" lx-choices="states">
                                                    <lx-select-selected>
                                                        {{ $selected.name }}
                                                    </lx-select-selected>
                                                    <lx-select-choices>
                                                        {{ $choice.name }}
                                                    </lx-select-choices>
                                                </lx-select>
                                            </div>
                                        </div>
                                    </div>
                                </lx-dialog-content>
                                <lx-dialog-footer>
                                    <lx-button lx-color="black" lx-type="flat" ng-click="closeDialog()">{{viewMode?'Close':'Cancel'}}</lx-button>
                                    <lx-button ng-if="!viewMode && (((!user.roles.isCustomer && !user.roles.isSupervisor) || !model.id ||model.state.finalStatus == 'waiting') || (user.roles.isSupervisor || !model.id || model.state.finalStatus == 'pending'))" lx-type="flat" ng-click="save()" ng-disabled="modelForm.$invalid">Save</lx-button>
                                    <lx-button ng-if="model.id" lx-type="flat" ng-click="closeDialogAndviewItems(model,false)">View Items</lx-button>
                                    <lx-button ng-if="model.id && ((!user.roles.isCustomer  && !user.roles.isSupervisor) || model.state.finalStatus == 'waiting')" lx-type="flat" ng-click="closeDialogAndviewItems(model,true)">Add New Item</lx-button>
                                    <!--<span ng-if="(viewMode ||model.id) && (!user.roles.isCustomer && !user.roles.isSupervisor)">-->
                                    <span ng-if="(viewMode ||model.id) && !user.roles.isSupervisor">
                                        <lx-button lx-type="flat" ng-click="download('/home/items/'+model.id,'items.xlsx')">Download Items</lx-button>
                                    </span>
                                    <span ng-if="(viewMode ||model.id) && (!user.roles.isCustomer && !user.roles.isSupervisor) && model.state && (model.state.completeCount > 0||model.state.alternativeCount > 0)">
                                        <lx-button lx-type="flat" ng-click="download('/home/receipt/'+model.id,'receipt.xlsx')">Download Receipt</lx-button>
                                        <lx-button lx-type="flat" ng-click="download('/home/invoice/'+model.id,'invoice.xlsx')">Download Invoice</lx-button>

                                        <file-download ng-if="false" url="/home/receipt/{{model.id}}" filename="receipt.xlsx" preparetext="Prepare Receipt" savetext="Download"></file-download>
                                        <file-download ng-if="false" url="/home/invoice/{{model.id}}" filename="invoice.xlsx" preparetext="Prepare Invoice" savetext="Download"></file-download>
                                    </span>
                                    <span ng-if="(viewMode ||model.id) && (!user.roles.isCustomer && !user.roles.isSupervisor) && model.state && model.state.finalStatus == 'complete'">
                                        <lx-button lx-type="flat" ng-click="sendReceipt(model.id)">Send Receipt</lx-button>
                                        <lx-button lx-type="flat" ng-click="sendInvoice(model.id)">Send Invoice</lx-button>
                                    </span>
                                </lx-dialog-footer>
                            </form>
                        </lx-dialog>

                        <div class="data-table-container">
                            <div class="row expanded p+">
                                <div class="column small-12 large-3">
                                    <span class="fs-title">Orders</span>
                                </div>
                                <div class="column small-12 large-9">
                                    <lx-dropdown class="float-right" lx-position="right" lx-over-toggle="true">
                                        <lx-dropdown-toggle>
                                            <lx-button class="ml mr" lx-size="l" lx-type="icon">
                                                <lx-icon lx-id="sort" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                            </lx-button>
                                        </lx-dropdown-toggle>
                                        <lx-dropdown-menu>
                                            <ul>
                                                <li><div class="dropdown-link dropdown-link--is-header">Sort By</div></li>
                                                <li><div class="dropdown-link pointer" ng-click="orderBy('serialNumber')">Serial No</div></li>
                                                <li><div class="dropdown-link pointer" ng-click="orderBy('createDate')">Date</div></li>
                                                <li><div class="dropdown-link pointer" ng-click="orderBy('state.finalStatusRank')">Status</div></li>
                                            </ul>
                                        </lx-dropdown-menu>
                                    </lx-dropdown>
                                    <lx-button class="float-right ml mr" lx-type="icon" ng-click="delete()">
                                        <lx-icon lx-id="delete" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                    </lx-button>
                                    <lx-button class="float-right ml mr" lx-type="icon" ng-click="edit()">
                                        <lx-icon lx-id="lead-pencil" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                    </lx-button>
                                    <lx-button class="float-right ml mr" lx-type="icon" ng-click="add()">
                                        <lx-icon lx-id="plus" lx-size="m" lx-color="accent" lx-type="flat"></lx-icon>
                                    </lx-button>
                                </div>
                                
                            </div>
                            <div class="row expanded" ng-if="false">
                                <div class="column small-12">
                                    <lx-search-filter lx-color="accent" lx-closed="false" lx-width="100%">
                                        <input type="text" placeholder="Search" ng-model="filter">
                                    </lx-search-filter>
                                </div>
                            </div>
                            <div class="separator bgc-accent mt+"></div>
                            <table class="data-table rtable">
                                <thead>
                                    <tr>
                                        <th width="50px">Select</th>
                                        <th width="50px">View</th>
                                        <th ng-if="user.roles.isAdmin || user.roles.isSuper">By</th>
                                        <th>Date</th>
                                        <th>Serial Number</th>
                                        <th>Status</th>
                                        <th width="50px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in orders | orderBy : orderby track by order.id" ng-class="order.state.finalStatus=='waiting'?'bgc-red-A100':(order.state.finalStatus == 'processing'? 'bgc-amber-A100':(order.state.finalStatus == 'canceled'?'bgc-teal-100':(order.state.finalStatus == 'complete'?'bgc-green-A100':'bgc-purple-A100')))"
                                        ng-click="toggleSelection(order,$event)">
                                        <td><lx-checkbox ng-model="order.checked" lx-color="indigo"></lx-checkbox></td>
                                        <td ng-click="view(order,$event)">
                                            <lx-button class="float-right ml mr" lx-type="icon">
                                                <lx-icon lx-id="eye" lx-size="m" lx-color="indigo" lx-type="flat"></lx-icon>
                                            </lx-button>
                                        </td>
                                        <td ng-if="user.roles.isAdmin || user.roles.isSuper">{{order.customerName}}</td>
                                        <td>{{order.createDate | date:"dd-MM-yyyy hh:mm"}}</td>
                                        <td>{{order.serialNumber}}</td>
                                        <td>{{order.state.finalStatus}}</td>
                                        <td>
                                            <lx-button lx-type="icon" ng-click="viewItems(order)">
                                                <lx-icon lx-id="view-list" lx-size="m" lx-color="indigo" lx-type="flat"></lx-icon>
                                            </lx-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
