﻿<div class="page">
    <div class="row expanded">
        <div class="small-12 small-centered large-8 large-centered columns">
            <div ng-controller="profileCtrl">
                <div class="bgc-white shadow p+">
                    <lx-tabs lx-theme="light" lx-color="primary">
                        <lx-tab lx-label="My Profile">
                            <ul class="list mt++">
                                <li class="list-row list-row--has-separator pointer">
                                    <div class="list-row__primary">
                                        <lx-icon lx-id="account" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                                    </div>
                                    <div class="list-row__content">
                                        {{profile.name}}
                                    </div>
                                </li>
                                <li class="list-row list-row--has-separator pointer">
                                    <div class="list-row__primary">
                                        <lx-icon lx-id="phone" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                                    </div>
                                    <div class="list-row__content">
                                        {{profile.phone}}
                                    </div>
                                </li>
                                <li class="list-row list-row--has-separator pointer">
                                    <div class="list-row__primary">
                                        <lx-icon lx-id="email" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                                    </div>
                                    <div class="list-row__content">
                                        {{profile.email}}
                                    </div>
                                </li>
                                <li class="list-row list-row--has-separator pointer">
                                    <div class="list-row__primary">
                                        <lx-icon lx-id="map-marker" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                                    </div>
                                    <div class="list-row__content">
                                        {{profile.address}}
                                    </div>
                                </li>

                            </ul>
                            <div class="row expanded mt++">
                                <div class="columns small-6 small-centered text-center">
                                    <lx-button lx-type="raised" ng-click="showDialog(editProfileDlgId)">Edit Profile</lx-button>
                                    <lx-button lx-type="raised" ng-click="showDialog(changePasswordDlgId)">Change Password</lx-button>
                                </div>
                            </div>
                        </lx-tab>
                    </lx-tabs>

                    <lx-dialog  id="{{editProfileDlgId}}" class="shadow++">
                        <form name="profileForm" novalidate>
                            <lx-dialog-header>
                                <div class="toolbar bgc-primary pl++">
                                    <span class="toolbar__label tc-white fs-title">
                                        Edit Profile
                                    </span>
                                    <div class="toolbar__right">
                                    </div>
                                </div>
                            </lx-dialog-header>
                            <lx-dialog-content>
                                <div class="p+">
                                    <div class="paragraph fs-body-1 mt+">
                                        <lx-text-field class="mt+" lx-label="Name" lx-icon="account">
                                            <input name="name" type="text" ng-model="profile.name" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="Email" lx-icon="email" >
                                            <input name="email" type="email" ng-model="profile.email" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="Phone" lx-icon="phone">
                                            <input name="phone" type="tel" ng-model="profile.phone" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="Contact Person" lx-icon="account-card-details" >
                                            <input name="contactPerson" type="tel" ng-model="profile.contactPerson" required>
                                        </lx-text-field>
                                        <lx-text-field class="m+" lx-label="Address" lx-icon="map-marker" >
                                            <textarea name="address" ng-model="profile.address" required></textarea>
                                        </lx-text-field>
                                    </div>
                                </div>
                            </lx-dialog-content>
                            <lx-dialog-footer>
                                <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cancel</lx-button>
                                <lx-button lx-type="flat" lx-dialog-close ng-click="saveProfile()" ng-disabled="profileForm.$invalid">Save</lx-button>
                            </lx-dialog-footer>
                        </form>
                    </lx-dialog>

                    <lx-dialog id="{{changePasswordDlgId}}" class="shadow++">
                        <form name="passwordForm" novalidate>
                            <lx-dialog-header>
                                <div class="toolbar bgc-primary pl++">
                                    <span class="toolbar__label tc-white fs-title">
                                        Change Password
                                    </span>
                                    <div class="toolbar__right">
                                    </div>
                                </div>
                            </lx-dialog-header>
                            <lx-dialog-content>
                                <div class="p+">
                                    <div class="paragraph fs-body-1 mt+">
                                        <lx-text-field class="mt+" lx-label="Old Password" lx-icon="key" lx-fixed-label="true">
                                            <input name="oldPassword" type="password" ng-model="account.oldPassword" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="New Password" lx-icon="key" lx-fixed-label="true">
                                            <input name="newPassword" type="password" ng-model="account.newPassword" required>
                                        </lx-text-field>
                                        <lx-text-field class="mt+" lx-label="Confirm Password" lx-icon="check" lx-fixed-label="true">
                                            <input name="reNewPassword" type="password" ng-pattern="account.newPassword" ng-model="account.reNewPassword" required>
                                        </lx-text-field>
                                    </div>
                                </div>
                            </lx-dialog-content>
                            <lx-dialog-footer>
                                <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cancel</lx-button>
                                <lx-button lx-type="flat" lx-dialog-close ng-click="savePassword()" ng-disabled="passwordForm.$invalid">Save</lx-button>
                            </lx-dialog-footer>
                        </form>
                    </lx-dialog>
                </div>
            </div>
        </div>

    </div>
</div>