﻿<link rel="stylesheet" href="Content/bootstrap.css">
<div class="page">
    <div class="row expanded">
        <div class="small-12 small-centered large-10 large-centered columns">
            <div class="bgc-white shadow p+">
                <div class="bgc-white shadow p+">

                    <form class="form">
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inlineFormCategorySelect">Category</label>
                                    <select class="custom-select form-control" id="inlineFormCategorySelect"></select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inlineFormGroupBySelect">Group By</label>
                                    <select class="custom-select form-control" id="inlineFormGroupBySelect">
                                        <option selected>Choose...</option>
                                        <option value="1">Year</option>
                                        <option value="2">Month</option>
                                        <option value="3">Day</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input name="itemCheck" id="itemCheck" type="checkbox" value="true">
                                    <label for="inlineItemInput">Item</label>
                                    <input name="item" id="item" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input name="serialCheck" id="serialCheck" type="checkbox" value="true">
                                    <label for="inlineSerialInput">Serial</label>
                                    <input name="serial" id="serial" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inlineFormInput">From</label>
                                    <input name="fromDate" id="fromDate" type="text" class="form-control datepicker">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inlineFormInput">To</label>
                                    <input name="toDate" id="toDate" type="text" class="form-control datepicker">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inlineFormCurrencySelect">Currency</label>
                                    <select class="custom-select form-control" id="inlineFormCurrencySelect"></select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input name="deliverdQuantityCheck" id="deliverdQuantityCheck" type="checkbox" value="true">
                                    <label for="inlineDeliverdQuantityInput">Deliverd Qty.</label>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-2 col-md-6 col-md-offset-4">
                                <div class="form-group">
                                    <button class="btn btn-success" type="button" onclick="Export()">Export</button>
                                    <button class="btn btn-primary" type="submit" onclick="Search()">Submit</button>
                                </div>
                            </div>
                        </div>


                    </form>

                    <div id="divJtableReport" lx-data-table></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
        $.ajax({
            url: window.location.origin + '/home/dllCategory/',
            contentType: "application/json;",
            success: function (data) {
                debugger;
                DrawList(data, 'inlineFormCategorySelect');
            },
            error: function (xhr) {
            }
        });
        $.ajax({
            url: window.location.origin + '/api/items/currencies',
            contentType: "application/json;",
            success: function (data) {
                debugger;
                DrawListValueText(data, 'inlineFormCurrencySelect');
            },
            error: function (xhr) {
            }
        });
        debugger;
        var isCustomer = JSON.parse(localStorage.data).roles.indexOf('customer') != -1;
        var isSupervisor = JSON.parse(localStorage.data).roles.indexOf('supervisor') != -1;
        //sharedData.user.roles.isSupervisor = data.roles.indexOf('supervisor') != -1;
        //JSON.parse(localStorage.data).roles

        //Svar asd = angular.element($("#customersCtrl")).scope();
        //Svar token = localStorage.token;
        //Svar token = localStorage.getItem(appSettings.tokenKey);
        //if (!token) {
        //    return $q(function (resolve, reject) {
        //        reject({ notAuthenticated: true });
        //    });
        //}
        //else {
        //    return jQuery.post(window.location.origin + '/home/report/', {
        //        headers: { 'Authorization': 'Bearer ' + token }
        //    })
        //    .then(
        //        function (response) {
        //            return { OK: true, response: response };
        //        },
        //        function (err) {
        //            return { ERROR: true, response: err };
        //        }
        //    );
        //}
        $('#divJtableReport').jtable({
            title: '',
            paging: true,
            pageSize: 10,
            sorting: true,
            defaultSorting: 'item Asc',
            footer: true,
            actions:
                {
                    listAction: window.location.origin + '/home/report/'//JtableList // '~/PoolManagement/GetPoolRoleSearchReslt'
                },
            fields: {
                serial: {
                    title: 'Serial',
                    type: 'text',
                    sorting: true,
                },
                creationDate: {
                    title: 'Date',
                    type: 'text',
                    sorting: true,
                },
                item: {
                    title: 'Category',
                    type: 'text',
                    sorting: true,
                },
                itemDescription: {
                    title: 'Item',
                    type: 'text',
                    sorting: true,
                },
                quantity: {
                    title: 'quantity',
                    type: 'text',
                    sorting: true,
                    create: false,
                    edit: false,
                    footer: function (data) {
                        debugger;
                        var total = 0;
                        $.each(data.Records, function (index, record) {
                            total += Number(record.quantity);
                        });
                        return (total.toFixed(2));
                    }
                },
                deliverdQuantity: {
                    title: 'deliverdQuantity',
                    type: 'text',
                    sorting: true,
                    footer: function (data) {
                        debugger;
                        var total = 0;
                        $.each(data.Records, function (index, record) {
                            total += Number(record.deliverdQuantity);
                        });
                        return (total.toFixed(2));
                    }
                },
                priceSell: {
                    title: 'PRICE',
                    type: 'text',
                    sorting: true,
                    footer: function (data) {
                        debugger;
                        var total = 0;
                        $.each(data.Records, function (index, record) {
                            total += Number(record.priceSell);
                        });
                        return (total.toFixed(2));
                    }
                    //visibility: isSupervisor || isCustomer ? 'hidden' : 'fixed'
                },
                priceSellTotal: {
                    title: 'TOTAL',
                    type: 'text',
                    sorting: true,
                    footer: function (data) {
                        debugger;
                        var total = 0;
                        $.each(data.Records, function (index, record) {
                            total += Number(record.priceSellTotal);
                        });
                        return (total.toFixed(2));
                    }
                    //visibility: isSupervisor || isCustomer ? 'hidden' : 'fixed'
                },
                priceDeliverdSellTotal: {
                    title: 'TOTAL',
                    type: 'text',
                    sorting: true,
                    footer: function (data) {
                        debugger;
                        var total = 0;
                        $.each(data.Records, function (index, record) {
                            total += Number(record.priceDeliverdSellTotal);
                        });
                        return (total.toFixed(2));
                    }
                    //visibility: isSupervisor || isCustomer ? 'hidden' : 'fixed'
                },
                currencyName: {
                    title: 'Cur.',
                    type: 'text',
                    sorting: true,
                    //visibility: isSupervisor || isCustomer ? 'hidden' : 'fixed'
                },
                //priceBuy: {
                //    title: 'Buy Price',
                //    type: 'text',
                //    sorting: true,
                //
                //},
                //
                //priceBuyTotal: {
                //    title: 'Total Buy Price',
                //    type: 'text',
                //    sorting: true,
                //
                //},
                
            },
            recordsLoaded: function (event, data) {
                // hide accountid
                //$("#PoolRoleDiv .table th:eq(0)").hide();
                //$("#PoolRoleDiv .table .tohide").hide();
                //$("#PoolRoleDiv .table .tohide").parent().hide();
            }
        });
        $('.jtable').addClass('table');
        Search();
    });


    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    function Search() {
        //var form = $('#frmSearchUser');

        $('#divJtableReport').jtable('load', {
            category: $('#inlineFormCategorySelect').val(),
            groupBy: $('#inlineFormGroupBySelect').val(),
            fromDate: $('#fromDate').val(),
            toDate: $('#toDate').val(),
            item: $('#item').val(),
            serial: $('#serial').val(),
            itemCheck: $('#itemCheck').is(':checked'),
            serialCheck: $('#serialCheck').is(':checked'),
            currencyId: $('#inlineFormCurrencySelect').val(),
            //model: form.serializeObject(),
            //userId: currentUserId,
            //poolSearchType: $('input[name=PoolSearchType]:checked').val(),
            //poolId: currentPool
        });

        if ($('#itemCheck').is(':checked')) {
            $('#divJtableReport').jtable('changeColumnVisibility', 'itemDescription', 'visible');
        }
        else {
            $('#divJtableReport').jtable('changeColumnVisibility', 'itemDescription', 'hidden');
        }

        if ($('#serialCheck').is(':checked')) {
            $('#divJtableReport').jtable('changeColumnVisibility', 'serial', 'visible');
        }
        else {
            $('#divJtableReport').jtable('changeColumnVisibility', 'serial', 'hidden');
        }

        if ($('#deliverdQuantityCheck').is(':checked')) {
            $('#divJtableReport').jtable('changeColumnVisibility', 'priceSellTotal', 'hidden');
            $('#divJtableReport').jtable('changeColumnVisibility', 'priceDeliverdSellTotal', 'visible');
            $('#divJtableReport').jtable('changeColumnVisibility', 'deliverdQuantity', 'visible');
        }
        else {
            $('#divJtableReport').jtable('changeColumnVisibility', 'priceSellTotal', 'visible');
            $('#divJtableReport').jtable('changeColumnVisibility', 'priceDeliverdSellTotal', 'hidden');
            $('#divJtableReport').jtable('changeColumnVisibility', 'deliverdQuantity', 'hidden');
        }
    }
    function DrawList(data, controlIdToAppend) {
        debugger;
        var result = "";
        result += "<option>Choose...</option>";
        for (var i = 0; i < data.length; i++) {
            result += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
        }

        if (result != "")
            $("#" + controlIdToAppend).html(result);
        else
            $("#" + controlIdToAppend).html('');
    }

    function DrawListValueText(data, controlIdToAppend) {
        debugger;
        var result = "";
        result += "<option>Choose...</option>";
        for (var i = 0; i < data.length; i++) {
            result += "<option value='" + data[i].value + "'>" + data[i].text + "</option>";
        }

        if (result != "")
            $("#" + controlIdToAppend).html(result);
        else
            $("#" + controlIdToAppend).html('');
    }

    function Export() {
        Search();
        var ExportExcelMailListApiUrl = window.location.origin + '/home/exporReport/';
        var urlDownloadExcel = "";
        var postData = $('#divJtableReport').jtable().data()["hik-jtable"]._lastPostData;
        var sortData = $('#divJtableReport').jtable().data()["hik-jtable"]._lastSorting;
        postData.jtSorting = sortData[0].fieldName + ' ' + sortData[0].sortOrder;
        $.ajax({
            type: 'POST',
            url: ExportExcelMailListApiUrl,
            data: JSON.stringify(postData),//"[{jtSorting: '',subject: 'subject','body': 'body','mailFrom': 'mailFrom','mailTo': 'mailTo','sendStatusId': 'sendingStatus','fromDateTime': 'fromDateTime','toDateTime': 'toDateTime','receivedMailStatus': 'receivedMailStatus','failureMessage': 'failureMessage','mailType':' mailType'}]",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                debugger;
                window.location.href = data.FileName;
                //window.location.href = result.response.data.FileName;
                //window.location.href = urlDownloadExcel + '/?file=' + data.FileName;
            },
            error: function (jqXHR, status, err) {
                //window.location.href = urlDownloadExcel + '/?file=' + jqXHR.responseText;
                //alert('error')
            }
        });
    }
</script>
