﻿html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #9FA8DA;/*#00B0FF;*/
    /*background-image: url(../img/black-linen.png);
    background-repeat: repeat;*/
}
.snap-content
{
    background-color:#9FA8DA;/* #4FC3F7;*/
    /*background-image: url(../img/random-grey-variations.png);
    background-repeat: repeat;*/
}
.snap-drawer{
    background:#263238;
    color:#fbfbfb;
}
.scrollable{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.pointer{
    cursor:pointer;
}
.separator{
    height:5px;    
}
.rtable td{
    white-space:nowrap; 
    text-overflow: ellipsis;
}
.strike-through{
    text-decoration:line-through;
}