﻿.shadow{
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.11),0 12px 24px 0 rgba(0,0,0,0.13);
}
.shadow\+{
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}
.shadow\+\+{
    box-shadow: 0 20px 38px 0 rgba(0,0,0,0.40),0 30px 60px 0 rgba(0,0,0,0.38);
}
.align-center{
    margin:0 auto;
}
.scroll-x{
    overflow-x:auto;
}
.scroll-x >*{
    width:auto;
}
.scroll-y{
    overflow-y:auto;
}
.scroll-y > *{
    height:auto;
}
.min-width-full{
    min-width:100%;
}
.page{
    width:100%;
    margin:0;
    padding:10px;
}


