/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/
@media screen and (max-width: 480px) {
  .rtable {
      /*!
// IE needs inline-block to position scrolling shadows otherwise use:
// display: block;
// max-width: min-content;
*/
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0; }

  .rtable,
  .rtable--flip tbody {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat; }

  .rtable td:first-child,
  .rtable--flip tbody tr:first-child {
    box-shadow: 8px 0 14px -9px rgba(0, 0, 0, 0.11) inset, 12px 0 24px -19px rgba(0, 0, 0, 0.13) inset; }

  .rtable td:last-child,
  .rtable--flip tbody tr:last-child {
    background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%; }

  .rtable th {
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    height: 56px;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    text-align: left;
    white-space: nowrap; }
    .rtable th i {
      margin-right: 4px; }

  .rtable--flip {
    display: flex;
    overflow: hidden;
    background: none; }

  .rtable--flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content; }

  .rtable--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden; }

  .rtable--flip tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0; }

  .rtable--flip td,
  .rtable--flip th {
    display: block; }

  .rtable--flip td {
    background-image: none !important;
    border-left: 0; }

  .rtable--flip th:not(:last-child),
  .rtable--flip td:not(:last-child) {
    border-bottom: 0; } }
