@media only screen and (max-width: 480px){
    .top-nav{
        display:none!important;
    }
}
.top-nav{
    display:block;
}
.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
}
.nav ul{
    margin:1em;
}
.nav li{
    display:inline;
    padding:1em;
    border-bottom:solid 5px #1a066d;
    background: rgb(22, 107, 162);
}
.nav li.active{
    border-bottom:solid 5px #fff;
}
.nav li.active a{
    color: #fff;
    font-weight:bold;
}
.nav a{
    display:inline-block;
    padding:1em;
	height: 4em;
    color: rgba(249, 249, 249, .9);
	text-decoration: none;
}

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*
.nav li:nth-child(6n+1) {
	background: rgb(208, 101, 3);
}

.nav li:nth-child(6n+2) {
	background: rgb(233, 147, 26);
}

.nav li:nth-child(6n+3) {
	background: rgb(22, 145, 190);
}

.nav li:nth-child(6n+4) {
	background: rgb(22, 107, 162);
}

.nav li:nth-child(6n+5) {
	background: rgb(27, 54, 71);
}

.nav li:nth-child(6n+6) {
	background: rgb(21, 40, 54);
}
    */