﻿
<!DOCTYPE html>
<html data-ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="stylesheet" href="www/assets/lib/foundation/foundation-custom.css">
    <link rel="stylesheet" href="www/assets/lib/lumx/lumx.css">
    <link rel="stylesheet" href="www/assets/lib/angular-snapjs/angular-snap.css">
    <link rel="stylesheet" href="www/assets/css/flip-table.css">
    <link rel="stylesheet" href="www/assets/css/menu.css">

    <link rel="stylesheet" href="www/assets/css/common.css">
    <link rel="stylesheet" href="www/assets/css/app.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

    <!-- cordova script (this will be a 404 during development) -->


    <script src="www/assets/js/download.js"></script>
    <script src="www/assets/lib/jquery-2.2.4.min.js"></script>
    <script src="www/assets/lib/angular.min.js"></script>
    <script src="www/assets/lib/angular-ui-router.min.js"></script>
    <script src="www/assets/lib/ng-cordova.min.js"></script>

    <script src="www/assets/lib/angular-snapjs/snap.min.js"></script>
    <script src="www/assets/lib/angular-snapjs/angular-snap.min.js"></script>

    <script src="www/assets/lib/velocity.min.js"></script>
    <script src="www/assets/lib/moment-with-locales.min.js"></script>
    <script src="www/assets/lib/lumx/lumx.js"></script>

    <script src="www/assets/js/helpers.js"></script>


    <!-- your app's js -->
    <script src="www/app/core/app.data.js"></script>
    <script src="www/app/core/app.api.js"></script>
    <script src="www/app/core/app.api.account.js"></script>
    <script src="www/app/core/app.api.customer.js"></script>
    <script src="www/app/core/app.api.units.js"></script>
    <script src="www/app/core/app.api.types.js"></script>
    <script src="www/app/core/app.api.orders.js"></script>
    <script src="www/app/core/app.api.items.js"></script>
    <script src="www/app/core/app.api.suppliers.js"></script>
    <script src="www/app/core/app.js"></script>
    <script src="www/app/controllers/right-menu.js"></script>
    <script src="www/app/controllers/top-menu.js"></script>
    <script src="www/app/controllers/login.js"></script>
    <script src="www/app/controllers/profile.js"></script>
    <script src="www/app/controllers/orders.js"></script>
    <script src="www/app/controllers/items.js"></script>
    <script src="www/app/controllers/suppliers.js"></script>
    <script src="www/app/controllers/customers.js"></script>
    <script src="www/app/controllers/item-types.js"></script>
    <script src="www/app/controllers/item-units.js"></script>
    <script src="www/app/controllers/overlay.js"></script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="Scripts/jtable/jquery.jtable.js"></script>
    <script src="Scripts/jtable/extensions/jquery.jtable.footer.js"></script>
    <link rel="stylesheet" href="Scripts/jtable/themes/basic/jtable_basic.css">
    <link rel="stylesheet" href="Scripts/jtable/themes/lightcolor/blue/jtable.css">
    <script src="Scripts/app/report/index.js"></script>
</head>
<body>
    <div ng-controller="overlayCtrl" style="width:100%;height:100%;">
        <div style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:2000;background:#000;opacity:0.5" ng-show="showOverlay != undefined && showOverlay > 0">
            {{showOverlay}}
        </div>
        <lx-progress lx-type="circular" lx-diameter="100" ng-show="showOverlay != undefined && showOverlay > 0" style="position:absolute;z-index:2010;top:50%;left:50%;margin-top:-50px;margin-left:-50px;"></lx-progress>
    </div>

    <snap-drawers>
        <snap-drawer>

        </snap-drawer>
        <div snap-drawer="right" class="snap-drawer" ng-controller="rightMenuCtrl">
            <lx-dialog id="userPasswordDlg" class="shadow++" lx-auto-close="false">
                <form name="changePasswordForm" novalidate>
                    <lx-dialog-header>
                        <div class="toolbar bgc-primary pl++">
                            <span class="toolbar__label tc-white fs-title">
                                Change Password
                            </span>
                            <div class="toolbar__right">
                            </div>
                        </div>
                    </lx-dialog-header>
                    <lx-dialog-content>
                        <div class="p+">
                            <div class="paragraph fs-body-1 mt+">
                                <lx-text-field class="mt+" lx-label="Old Password" lx-icon="key" lx-fixed-label="true" lx-error="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid" lx-valid="changePasswordForm.oldPassword.$valid">
                                    <input name="oldPassword" type="password" ng-model="changePasswordModel.oldPassword" required>
                                </lx-text-field>
                                <lx-text-field class="mt+" lx-label="New Password" lx-icon="key" lx-fixed-label="true" lx-error="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid" lx-valid="changePasswordForm.newPassword.$valid">
                                    <input name="newPassword" type="password" ng-model="changePasswordModel.newPassword" required>
                                </lx-text-field>
                                <lx-text-field class="mt+" lx-label="Confirm Password" lx-icon="check" lx-fixed-label="true" lx-error="changePasswordForm.confirmPassword.$touched && changePasswordForm.confirmPassword.$invalid" lx-valid="changePasswordForm.confirmPassword.$valid">
                                    <input name="confirmPassword" type="password" ng-pattern="changePasswordModel.newPassword" ng-model="changePasswordModel.confirmPassword" required>
                                </lx-text-field>
                            </div>
                        </div>
                    </lx-dialog-content>
                    <lx-dialog-footer>
                        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cancel</lx-button>
                        <lx-button lx-type="flat" lx-dialog-close ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid">Save</lx-button>
                    </lx-dialog-footer>
                </form>
            </lx-dialog>
            <ul class="list mt++" snap-close>
                <li class="list-row list-row--has-separator pointer" ng-if="user.isAuthenticated" ng-click="logout()">
                    <div class="list-row__primary">
                        <lx-icon lx-id="logout" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        Log out
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ng-if="user.claims.changePassword" ng-click="showDialog('userPasswordDlg')">
                    <div class="list-row__primary">
                        <lx-icon lx-id="key" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        Change Password
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="login" ng-if="!user.isAuthenticated">
                    <div class="list-row__primary">
                        <lx-icon lx-id="login" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        Log In
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="customers" ng-if="user.claims.manageCustomers">
                    <div class="list-row__primary">
                        <lx-icon lx-id="account-multiple" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        Customers
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="item-units" ng-if="user.claims.manageUnits">
                    <div class="list-row__primary">
                        <lx-icon lx-id="package-variant" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        Item Units
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="item-types" ng-if="user.claims.manageTypes">
                    <div class="list-row__primary">
                        <lx-icon lx-id="format-list-bulleted-type" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        Item Types
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="profile" ng-if="user.claims.manageProfile">
                    <div class="list-row__primary">
                        <lx-icon lx-id="account" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        My Profile
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="orders" ng-if="user.claims.manageOrders">
                    <div class="list-row__primary">
                        <lx-icon lx-id="cart" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        <div>Orders</div>
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="items" ng-if="user.claims.manageItems">
                    <div class="list-row__primary">
                        <lx-icon lx-id="view-list" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        <div>Items</div>
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="suppliers" ng-if="user.claims.manageSuppliers">
                    <div class="list-row__primary">
                        <lx-icon lx-id="truck" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        <div>Suppliers</div>
                    </div>
                </li>
                <li class="list-row list-row--has-separator pointer" ui-sref="report">
                    <div class="list-row__primary">
                        <lx-icon lx-id="chart-areaspline" lx-size="l" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>
                    <div class="list-row__content">
                        <div>Reports</div>
                    </div>
                </li>
            </ul>
        </div>
    </snap-drawers>
    <div snap-content class="snap-content">
        <div class="row expanded p+">
            <div class="column small-12">
                <lx-button class="float-right" snap-toggle="right" lx-size="l" lx-color="black" lx-type="icon">
                    <lx-icon lx-id="menu" lx-size="l" lx-color="white" lx-type="flat"></lx-icon>
                </lx-button>
                <img src="www/assets/img/logo.png" class="align-center" style="display:none">

                <nav class="nav top-nav" ng-controller="topMenuCtrl">
                    <ul>
                        <li ng-if="user.claims.manageProfile" class="{{(currentState =='profile')? 'active':''}}">
                            <a ui-sref="profile">
                                <span>Profile</span>
                            </a>
                        </li>
                        <li ng-if="user.claims.manageCustomers" class="{{ currentState =='customers'? 'active':''}}">
                            <a ui-sref="customers">
                                <span>Customers</span>
                            </a>
                        </li>
                        <li ng-if="user.isAuthenticated" class="{{ currentState =='orders'? 'active':''}}">
                            <a ui-sref="orders">
                                <span>Orders</span>
                            </a>
                        </li>

                        <li ng-if="user.claims.manageItems" class="{{ currentState =='items'? 'active':''}}">
                            <a ui-sref="items">
                                <span>Items</span>
                            </a>
                        </li>
                        <li ng-if="user.isAuthenticated">
                            <a href="#" ng-click="addOrder($event)">
                                <span>New Order</span>
                            </a>
                        </li>
                        <li class="{{ currentState =='report'? 'active':''}}">
                            <a ui-sref="report">
                                <span>Reports</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
        <div class="row expanded">
            <div class="columns small-12">
            </div>
        </div>
        <ui-view>
        </ui-view>
    </div>

</body>
</html>
